window-rule {
    match app-id="zen"
    open-maximized true
}

window-rule {
    match app-id="antigravity"
    open-maximized true
}

window-rule {
    match app-id="dev.warp.Warp"
    open-maximized true
}

window-rule {
    match app-id="anytype"
    open-maximized true
}