// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "qs -c noctalia-shell"
    spawn-at-startup "/home/shiraneko/.config/niri/scripts/dynamic-float.py"
    spawn-sh-at-startup ". ~/.profile; /home/shiraneko/go/bin/Surge server --token $SURGE_TOKEN"
