    prefer-no-csd
    screenshot-path null

    environment {
        XDG_SESSION_TYPE "wayland"
        XDG_SESSION_DESKTOP "niri"

        ELECTRON_OZONE_PLATFORM_HINT "auto"


        GTK_THEME "adw-gtk3"
        GTK_IM_MODULE "simple"
        GTK_CSD "0"
        ADB_MDNS_OPENSCREEN "0"
        ADB_MDNS "0"

        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"

    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
