    prefer-no-csd
    screenshot-path null

    environment {
        XDG_SESSION_TYPE "wayland"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_DESKTOP "niri"

        ELECTRON_OZONE_PLATFORM_HINT "auto"

        QT_QPA_PLATFORM "wayland;xcb"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        QT_QPA_PLATFORMTHEME "qt6ct"
        QT_AUTO_SCREEN_SCALE_FACTOR "1"

        GTK_THEME "adw-gtk3"
        GTK_IM_MODULE "simple"
        GTK_CSD "0"

        GDK_BACKEND "wayland"

        SDL_VIDEODRIVER "wayland"

        CLUTTER_BACKEND "wayland"

        WEBKIT_DISABLE_COMPOSITING_MODE "1"

    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
