    window-rule {
        geometry-corner-radius 24 // Set every window radius to 24
        clip-to-geometry true
        opacity 0.95
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
        opacity 0.95
    }
