include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"
include "./cfg/cursor.kdl"

// ─── Application Rules ───
include "./app-rules/abdm.kdl"
include "./app-rules/maximized.kdl"
include "./app-rules/pip.kdl"
include "./app-rules/cast.kdl"

// ─── Noctalia ───
include "./noctalia.kdl"

