// AB Download Manager Rules
window-rule {
    match app-id="com-abdownloadmanager-desktop-AppKt"

    open-floating true

}

// Submenus and popups
window-rule {
    match app-id="com-abdownloadmanager-desktop-AppKt" title="Untitled"
    
    open-floating true
    open-focused false

}
